.main {
    padding-top: 24px;
}

.button.center {
    display: block;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.events-list {
    margin-bottom: 16px;
}

.read-more {
    width: 100%;
}
